[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.mp4
*.mov
*.avi
.DS_Store
Thumbs.db
.vs/360-video-BTC/CopilotIndices/18.3.511.5503/CodeChunks.db
.vs/360-video-BTC/CopilotIndices/18.5.39187.10602/CodeChunks.db
